.listInput {
    display: inline-block;
    list-style: none;
    overflow: hidden;
    font-family: Verdana;
    min-height: 23px;
}

.listInput li {
    float: left;
    background-color: #e2e6f0;
    border: 1px solid #9daccc;
    margin: 4px 2px;
    padding: 0 1px 0 3px;
    border-radius: 2px;
    font-size: 11px;
    white-space: nowrap;
}

.listInput li.selected {
    background-color: #9daccc;
    border-color: #3b5998;
    color: white;
}

.listInput li.selected a {
    color: white;
}

.listInput li.input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.listInput li.input input {
    outline: none;
}

.listInput li a {
    color: #a6b3cf;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
}